<h1>Edit {{theMeal.title}}</h1>

<form action="/meals/{{theMeal._id}}/update" method="POST" class='form'>
  <label for='title'>Name you meal</label>
  <input type="text"  placeholder="{{theMeal.title}}" name ='title'>
  <label for="kcal" value="{{theMeal.kcal}}">Nutritional value:</label>
  <input type="text" placeholder="{{theMeal.kcal}}" name ="ingridients">
  <button type="submit">Submit</button>
</form>