<h1>List of Plans</h1>
<div class ="box">
{{#each plans class='box'}}
  <li><a href="/plans/{{this._id}}" class="foodTitle">{{this.title}}</a></li>
  <p>{{this.length}}</p>
  <a href="/plans/{{this._id}}/edit" class ="secondaryButton">Edit Plan</a><br>
 <form action="/plans/{{this._id}}/delete" method ="POST" >
 <button class ="secondaryButton">Delete Plan</button>
 </form>
{{/each}}
</div>

<a href="/plans/new" class ='button'>Create new plan</a>