<h2>Details for {{thePlan.title}}</h2>
<p>This plan is created for <b>{{thePlan.length}}</b> days and for {{thePlan.people}} people</p>
<p>This plan has {{thePlan._menuObjects }} </p>
<br>

<a href="/plans/{{thePlan._id}}/edit" class ="secondaryButton">Edit This Plan</a>
<a href="/plans" class ="secondaryButton">View all Plans</a>